body {
  margin: 0;
}

div {
  background-color: #2d2929;
}

input, button {
  transition: 0.1s ease;
  background-color: #6f6666;
  border: none;
  color: white;
  font-family: Trebuchet MS
}

input:focus {
  background-color: #635c5c;
  outline: none;
}

input:hover, button:hover {
  transition: 0.1s ease;
  background-color: #635c5c;
  border: none;
  color: white;
  font-family: Trebuchet MS;
  cursor: pointer;
}


::placeholder {
  color: white;
  font-family: Trebuchet MS
}

p {
  margin: 0;
  padding: 10px;
  transition-duration: 0.3s;
}

p:hover {
  background-color: #404040;
}

.LauncherButton {
  background-color: rgb(131 68 255);
  /* height:100%; */
  text-align:center;
  font-weight:bold;
  font-family: "Noto Sans TC", "sans-serif";
  /*font-size: xxx-large;*/
  font-size: 4vh;
  vertical-align: middle;
  /*position: absolute;*/
  display:flex;
  flex-direction:column;
  justify-content:space-around;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  animation-fill-mode: forwards;
  align-items: center;
  width: 15px;
}

.LauncherButton p {
    display: flex;
    justify-content: center;
    flex-direction: column;
    /*height: 100%;*/
    vertical-align: middle;
    color: white;
    /* outline-color: black; */
}

.LauncherButton:hover {
  cursor: pointer
}

.LauncherButtonIcon {
  width: 200px;
  height: auto;
  filter: invert(1);
}

#Title {
  position:relative;
  margin-bottom: 0px;
  height: fit-content;
  display: block;
  margin: 10px;
  font-family: Trebuchet MS;
  color: white;
  text-decoration: underline;
}

#projectManagement {
  display: block;
  height: fit-content;
  width: fit-content;
  margin: 0px;
  padding: 0px;
}

.projectButton {
  display: block;
  margin-left: 10px;
  font-size: 25px;
  font-family: Trebuchet MS;
  color: white;
  background-color: #3a3535;
  border-radius: 3px;
  margin-top: 10px;
}

.projectButton:hover {
  cursor: pointer;

}

.popup {
  /* --popup-width: 20vw; */
  /* --popup-height: 20vw; */
  --horizontal_margin: calc(50vw - calc(var(--popup-width) / 2));
  --vertical_margin: calc(50vh - calc(var(--popup-height) / 2));
  display: none;
  padding: 5px;
  z-index: 2;
  position: absolute;
  width: var(--popup-width);
  height: var(--popup-height);
  left: var(--horizontal_margin);
  right: var(--horizontal_margin);
  top: var(--vertical_margin);
  bottom: var(--vertical_margin);
  border-radius: 0px 2px;
  background-color: #4f4848;
  color: white;
}

.projectPopupButton {
  display: inline-block;
  border: none;
  border-radius: 2px;

}

#container {
  display: flex;
  /* flex-flow: column; */
  height: 100%;
}

#SettingsButton {
  background-color: #404040;
  flex-grow: 1;
  flex-basis: 0;

  /*Specify Animations*/
  /*
  animation-name: ShrinkDiv;
  animation-duration: 4s;
  */
  transition: all 1s ease;
}

#SettingsButton img {
  filter: invert(1);
}



/*
#SettingsButton:active + #MapEditorButton {
  animation-name: OpenSettingsForMapEditorDiv;
  animation-duration: 1s;
}

#SettingsButton:active {
  animation-name: OpenSettingsForSettingsDiv;
  animation-duration: 1s;
}
*/

#MapEditorButton {
  background-color: #3a3535;
  flex-grow: 2;
  /* flex-basis: 0; */
  transition: all 0.1s ease;
}

#LauncherButtonContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  flex-grow: 1;
}





#MapEditorButton:active + #SettingsButton > p, #MapEditorButton:active + #SettingsButton > img {
  animation-name: FadeButtonElements;
  animation-duration: 1s;
}
*/

/*#SettingsButton > p, #SettingsButton > img {
  animation-name: FadeButtonElements;
  animation-duration: 0.6s;
  animation-play-state: paused;
}

#MapEditorButton > p, #MapEditorButton > img {
  animation-name: FadeButtonElements;
  animation-duration: 0.6s;
  animation-play-state: paused;
}

#MapEditorButton > img {
  animation-name: FadeButtonElements;
  animation-duration: 0.6s;
  animation-play-state: paused;
  filter: invert(1);
  width: 76.41px;
}


/*Animations*/
/*----------------------------------------------------------------------------*/




/*Launcher to Settings Animation*/


/*
@Keyframes OpenSettingsForMapEditorDiv {
  to {
    flex-grow: 0.00001;
  }
}

@Keyframes OpenSettingsForSettingsDiv {
  to {
    flex-grow: 1;
  }
}

*/



@keyframes FadeButtonElements {
  to {
    opacity: 0;
  }
}
