


.LauncherButton {
  background-color: skyblue;
  /*height:100%;*/
  text-align:center;
  font-weight:bold;
  font-family: "Noto Sans TC", "sans-serif";
  /*font-size: xxx-large;*/
  font-size: 4vh;
  vertical-align: middle;
  /*position: absolute;*/

  display:flex;
  flex-direction:column;
  justify-content:space-around;

  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;


  animation-fill-mode: forwards;

  align-items: center;

}

.LauncherButton p {
    display: flex;
    justify-content: center;
    flex-direction: column;
    /*height: 100%;*/
    vertical-align: middle;
}

.LauncherButton:hover {
  cursor: pointer
}

.LauncherButtonIcon {
  width: 50%;
  height: auto;

}

#Title {
  position:relative;
  margin-bottom: 0px;
  height: fit-content;
  display: block;
}

#projectManagement {
  display: block;
  height: fit-content;
  width: fit-content;
  margin: 0px;
  padding: 0px;
}

.projectButton {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 20%;
  font-size: 25px;
}

.projectButton:hover {
  cursor: pointer;

}

#container {
  display: flex;
  /*flex-flow: column;*/
  height: 100%;
}

#SettingsButton {
  background-color: slategrey;
  flex-grow: 1;
  flex-basis: 0;

  /*Specify Animations*/



  /*
  animation-name: ShrinkDiv;
  animation-duration: 4s;
  */

  transition: all 4s ease;


}



#SettingsButton:hover {

  /*
  animation-name: GrowDiv;
  animation-duration: 4s;

  */

  flex-grow: 3;

}

/*
#SettingsButton:active + #MapEditorButton {
  animation-name: OpenSettingsForMapEditorDiv;
  animation-duration: 1s;
}

#SettingsButton:active {
  animation-name: OpenSettingsForSettingsDiv;
  animation-duration: 1s;
}
*/

#MapEditorButton {
  background-color: skyblue;
  flex-grow: 2;
  flex-basis: 0;

  transition: all 4s ease;
}

#LauncherButtonContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  flex-grow: 1;
}




/*
#MapEditorButton:active + #SettingsButton > p, #MapEditorButton:active + #SettingsButton > img {
  animation-name: FadeButtonElements;
  animation-duration: 1s;
}
*/

#SettingsButton > p, #SettingsButton > img {
  animation-name: FadeButtonElements;
  animation-duration: 0.6s;
  animation-play-state: paused;
}

#MapEditorButton > p, #MapEditorButton > img {
  animation-name: FadeButtonElements;
  animation-duration: 0.6s;
  animation-play-state: paused;
}


/*Animations*/
/*----------------------------------------------------------------------------*/




/*Launcher to Settings Animation*/


/*
@Keyframes OpenSettingsForMapEditorDiv {
  to {
    flex-grow: 0.00001;
  }
}

@Keyframes OpenSettingsForSettingsDiv {
  to {
    flex-grow: 1;
  }
}

*/



@keyframes FadeButtonElements {
  to {
    opacity: 0;
  }
}
