body {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;

  font-size: 2.5vh;
  font-weight: bold;
  font-family: "Noto Sans TC", "sans-serif";
  background-color: black;
}


.grid {
  display: table;
  cursor: grab;
  position: relative;
}
.row {
  flex: 1;
}


/*
@media (max-width: 400px) {
  .flex-grid {
    display: block;
  }
}
*/

/*
.sectionImg {
  width: 10%;
  height: auto;
  padding: 0;
  margin: 0;
}
*/



.sectionImg {
  width: calc(1*(100%/12));
  height: auto;
  padding: 0;
  margin: 0;

  /*z-index: 1;*/
  position: relative;

  box-shadow: black 0px 0px 100px inset;
}



body {
  overflow-y: hidden; /* Hide vertical scrollbar */
  overflow-x: hidden; /* Hide horizontal scrollbar */
}

.selectionBox {
  /*z-index: 5;*/
  position: absolute;
  z-index: 5;
  /*
  width: 10%;
  height: 13%;
  */
  /*width:100%;
  height:100%;*/
  /*box-shadow: inset 3px 3px 10px 0 #000000;*/

  top: calc(1*(100%/10));
  left: 0;
  visibility: hidden;

  width: calc(1*(100%/12));
  height: auto;
}



#FloatingButtonGroup {
  position: fixed;
  z-index: 5;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height:15%;
  top:0;
  left:0;
}

#FloatingVignette {
  position: fixed;
  z-index: 4;
  width: 100%;
  height: 100%;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  top:0;
  left:0;
  pointer-events: none;
}


#FloatingButtonFlexbox {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.FloatingButton {
  display: block;
  background-color: SlateGrey;
  width:10%;
  height: 30%;
  vertical-align: middle;
  display: table;
  margin: 1%;
  border-radius: 5px;

}

.FloatingButton p {
  display: table-cell;
  vertical-align: middle;
  height: auto;
}

/*
#A-1-Box {
  top:0;
  left:0;
}

#B-1-Box {
  top:0;
  left:52.5;
}

#C-1-Box {
  top:0;
  left:105;
}

#D-1-Box {
  top:0;
  left:157.5;
}

#E-1-Box {
  top:0;
  left:210;
}

#F-1-Box {
  top:0;
  left:262.5;
}

#G-1-Box {
  top:0;
  left:315;
}

#H-1-Box {
  top:0;
  left:367.5;
}

#I-1-Box {
  top:0;
  left:420;
}

#J-1-Box {
  top:0;
  left:472.5;
}


#A-2-Box {
  top:52.5;
  left:0;
}

#B-2-Box {
  top:52.5;
  left:52.5;
}

#C-2-Box {
  top:52.5;
  left:105;
}

#D-2-Box {
  top:52.5;
  left:157.5;
}

#E-2-Box {
  top:52.5;
  left:210;
}

#F-2-Box {
  top:52.5;
  left:262.5;
}

#G-2-Box {
  top:52.5;
  left:315;
}

#H-2-Box {
  top:52.5;
  left:367.5;
}

#I-2-Box {
  top:52.5;
  left:420;
}

#J-2-Box {
  top:52.5;
  left:472.5;
}





#A-3-Box {
  top:105;
  left:0;
}

#B-3-Box {
  top:105;
  left:52.5;
}

#C-3-Box {
  top:105;
  left:105;
}

#D-3-Box {
  top:105;
  left:157.5;
}

#E-3-Box {
  top:105;
  left:210;
}

#F-3-Box {
  top:105;
  left:262.5;
}

#G-3-Box {
  top:105;
  left:315;
}

#H-3-Box {
  top:105;
  left:367.5;
}

#I-3-Box {
  top:105;
  left:420;
}

#J-3-Box {
  top:105;
  left:472.5;
}






#A-4-Box {
  top:157.5;
  left:0;
}

#B-4-Box {
  top:157.5;
  left:52.5;
}

#C-4-Box {
  top:157.5;
  left:105;
}

#D-4-Box {
  top:157.5;
  left:157.5;
}

#E-4-Box {
  top:157.5;
  left:210;
}

#F-4-Box {
  top:157.5;
  left:262.5;
}

#G-4-Box {
  top:157.5;
  left:315;
}

#H-4-Box {
  top:157.5;
  left:367.5;
}

#I-4-Box {
  top:157.5;
  left:420;
}

#J-4-Box {
  top:157.5;
  left:472.5;
}




#A-5-Box {
  top:210;
  left:0;
}

#B-5-Box {
  top:210;
  left:52.5;
}

#C-5-Box {
  top:210;
  left:105;
}

#D-5-Box {
  top:210;
  left:157.5;
}

#E-5-Box {
  top:210;
  left:210;
}

#F-5-Box {
  top:210;
  left:262.5;
}

#G-5-Box {
  top:210;
  left:315;
}

#H-5-Box {
  top:210;
  left:367.5;
}

#I-5-Box {
  top:210;
  left:420;
}

#J-5-Box {
  top:210;
  left:472.5;
}







#A-6-Box {
  top:262.5;
  left:0;
}

#B-6-Box {
  top:262.5;
  left:52.5;
}

#C-6-Box {
  top:262.5;
  left:105;
}

#D-6-Box {
  top:262.5;
  left:157.5;
}

#E-6-Box {
  top:262.5;
  left:210;
}

#F-6-Box {
  top:262.5;
  left:262.5;
}

#G-6-Box {
  top:262.5;
  left:315;
}

#H-6-Box {
  top:262.5;
  left:367.5;
}

#I-6-Box {
  top:262.5;
  left:420;
}

#J-6-Box {
  top:262.5;
  left:472.5;
}




#A-7-Box {
  top:315;
  left:0;
}

#B-7-Box {
  top:315;
  left:52.5;
}

#C-7-Box {
  top:315;
  left:105;
}

#D-7-Box {
  top:315;
  left:157.5;
}

#E-7-Box {
  top:315;
  left:210;
}

#F-7-Box {
  top:315;
  left:262.5;
}

#G-7-Box {
  top:315;
  left:315;
}

#H-7-Box {
  top:315;
  left:367.5;
}

#I-7-Box {
  top:315;
  left:420;
}

#J-7-Box {
  top:315;
  left:472.5;
}







#A-8-Box {
  top:367.5;
  left:0;
}

#B-8-Box {
  top:367.5;
  left:52.5;
}

#C-8-Box {
  top:367.5;
  left:105;
}

#D-8-Box {
  top:367.5;
  left:157.5;
}

#E-8-Box {
  top:367.5;
  left:210;
}

#F-8-Box {
  top:367.5;
  left:262.5;
}

#G-8-Box {
  top:367.5;
  left:315;
}

#H-8-Box {
  top:367.5;
  left:367.5;
}

#I-8-Box {
  top:367.5;
  left:420;
}

#J-8-Box {
  top:367.5;
  left:472.5;
}


*/





#A-1-Box {
  top:calc(1*(100%/10));
  left:calc(1*(100%/12));
}

#B-1-Box {
  top:calc(1*(100%/10));
  left:calc(2*(100%/12));
}

#C-1-Box {
  top:calc(1*(100%/10));
  left:calc(3*(100%/12));
}

#D-1-Box {
  top:calc(1*(100%/10));
  left:calc(4*(100%/12));
}

#E-1-Box {
  top:calc(1*(100%/10));
  left:calc(5*(100%/12));
}

#F-1-Box {
  top:calc(1*(100%/10));
  left:calc(6*(100%/12));
}

#G-1-Box {
  top:calc(1*(100%/10));
  left:calc(7*(100%/12));
}

#H-1-Box {
  top:calc(1*(100%/10));
  left:calc(8*(100%/12));
}

#I-1-Box {
  top:calc(1*(100%/10));
  left:calc(9*(100%/12));
}

#J-1-Box {
  top:calc(1*(100%/10));
  left:calc(10*(100%/12));
}


#A-2-Box {
  top:calc(2*(100%/10));
  left:calc(1*(100%/12));
}

#B-2-Box {
  top:calc(2*(100%/10));
  left:calc(2*(100%/12));
}

#C-2-Box {
  top:calc(2*(100%/10));
  left:calc(3*(100%/12));
}

#D-2-Box {
  top:calc(2*(100%/10));
  left:calc(4*(100%/12));
}

#E-2-Box {
  top:calc(2*(100%/10));
  left:calc(5*(100%/12));
}

#F-2-Box {
  top:calc(2*(100%/10));
  left:calc(6*(100%/12));
}

#G-2-Box {
  top:calc(2*(100%/10));
  left:calc(7*(100%/12));
}

#H-2-Box {
  top:calc(2*(100%/10));
  left:calc(8*(100%/12));
}

#I-2-Box {
  top:calc(2*(100%/10));
  left:calc(9*(100%/12));
}

#J-2-Box {
  top:calc(2*(100%/10));
  left:calc(10*(100%/12));
}





#A-3-Box {
  top:calc(3*(100%/10));
  left:calc(1*(100%/12));
}

#B-3-Box {
  top:calc(3*(100%/10));
  left:calc(2*(100%/12));
}

#C-3-Box {
  top:calc(3*(100%/10));
  left:calc(3*(100%/12));
}

#D-3-Box {
  top:calc(3*(100%/10));
  left:calc(4*(100%/12));
}

#E-3-Box {
  top:calc(3*(100%/10));
  left:calc(5*(100%/12));
}

#F-3-Box {
  top:calc(3*(100%/10));
  left:calc(6*(100%/12));
}

#G-3-Box {
  top:calc(3*(100%/10));
  left:calc(7*(100%/12));
}

#H-3-Box {
  top:calc(3*(100%/10));
  left:calc(8*(100%/12));
}

#I-3-Box {
  top:calc(3*(100%/10));
  left:calc(9*(100%/12));
}

#J-3-Box {
  top:calc(3*(100%/10));
  left:calc(10*(100%/12));
}






#A-4-Box {
  top:calc(4*(100%/10));
  left:calc(1*(100%/12));
}

#B-4-Box {
  top:calc(4*(100%/10));
  left:calc(2*(100%/12));
}

#C-4-Box {
  top:calc(4*(100%/10));
  left:calc(3*(100%/12));
}

#D-4-Box {
  top:calc(4*(100%/10));
  left:calc(4*(100%/12));
}

#E-4-Box {
  top:calc(4*(100%/10));
  left:calc(5*(100%/12));
}

#F-4-Box {
  top:calc(4*(100%/10));
  left:calc(6*(100%/12));
}

#G-4-Box {
  top:calc(4*(100%/10));
  left:calc(7*(100%/12));
}

#H-4-Box {
  top:calc(4*(100%/10));
  left:calc(8*(100%/12));
}

#I-4-Box {
  top:calc(4*(100%/10));
  left:calc(9*(100%/12));
}

#J-4-Box {
  top:calc(4*(100%/10));
  left:calc(10*(100%/12));
}




#A-5-Box {
  top:calc(5*(100%/10));
  left:calc(1*(100%/12));
}

#B-5-Box {
  top:calc(5*(100%/10));
  left:calc(2*(100%/12));
}

#C-5-Box {
  top:calc(5*(100%/10));
  left:calc(3*(100%/12));
}

#D-5-Box {
  top:calc(5*(100%/10));
  left:calc(4*(100%/12));
}

#E-5-Box {
  top:calc(5*(100%/10));
  left:calc(5*(100%/12));
}

#F-5-Box {
  top:calc(5*(100%/10));
  left:calc(6*(100%/12));
}

#G-5-Box {
  top:calc(5*(100%/10));
  left:calc(7*(100%/12));
}

#H-5-Box {
  top:calc(5*(100%/10));
  left:calc(8*(100%/12));
}

#I-5-Box {
  top:calc(5*(100%/10));
  left:calc(9*(100%/12));
}

#J-5-Box {
  top:calc(5*(100%/10));
  left:calc(10*(100%/12));
}







#A-6-Box {
  top:calc(6*(100%/10));
  left:calc(1*(100%/12));
}

#B-6-Box {
  top:calc(6*(100%/10));
  left:calc(2*(100%/12));
}

#C-6-Box {
  top:calc(6*(100%/10));
  left:calc(3*(100%/12));
}

#D-6-Box {
  top:calc(6*(100%/10));
  left:calc(4*(100%/12));
}

#E-6-Box {
  top:calc(6*(100%/10));
  left:calc(5*(100%/12));
}

#F-6-Box {
  top:calc(6*(100%/10));
  left:calc(6*(100%/12));
}

#G-6-Box {
  top:calc(6*(100%/10));
  left:calc(7*(100%/12));
}

#H-6-Box {
  top:calc(6*(100%/10));
  left:calc(8*(100%/12));
}

#I-6-Box {
  top:calc(6*(100%/10));
  left:calc(9*(100%/12));
}

#J-6-Box {
  top:calc(6*(100%/10));
  left:calc(10*(100%/12));
}




#A-7-Box {
  top:calc(7*(100%/10));
  left:calc(1*(100%/12));
}

#B-7-Box {
  top:calc(7*(100%/10));
  left:calc(2*(100%/12));
}

#C-7-Box {
  top:calc(7*(100%/10));
  left:calc(3*(100%/12));
}

#D-7-Box {
  top:calc(7*(100%/10));
  left:calc(4*(100%/12));
}

#E-7-Box {
  top:calc(7*(100%/10));
  left:calc(5*(100%/12));
}

#F-7-Box {
  top:calc(7*(100%/10));
  left:calc(6*(100%/12));
}

#G-7-Box {
  top:calc(7*(100%/10));
  left:calc(7*(100%/12));
}

#H-7-Box {
  top:calc(7*(100%/10));
  left:calc(8*(100%/12));
}

#I-7-Box {
  top:calc(7*(100%/10));
  left:calc(9*(100%/12));
}

#J-7-Box {
  top:calc(7*(100%/10));
  left:calc(10*(100%/12));
}







#A-8-Box {
  top:calc(8*(100%/10));
  left:calc(1*(100%/12));
}

#B-8-Box {
  top:calc(8*(100%/10));
  left:calc(2*(100%/12));
}

#C-8-Box {
  top:calc(8*(100%/10));
  left:calc(3*(100%/12));
}

#D-8-Box {
  top:calc(8*(100%/10));
  left:calc(4*(100%/12));
}

#E-8-Box {
  top:calc(8*(100%/10));
  left:calc(5*(100%/12));
}

#F-8-Box {
  top:calc(8*(100%/10));
  left:calc(6*(100%/12));
}

#G-8-Box {
  top:calc(8*(100%/10));
  left:calc(7*(100%/12));
}

#H-8-Box {
  top:calc(8*(100%/10));
  left:calc(8*(100%/12));
}

#I-8-Box {
  top:calc(8*(100%/10));
  left:calc(9*(100%/12));
}

#J-8-Box {
  top:calc(8*(100%/10));
  left:calc(10*(100%/12));
}






#Z-0-Box {
  top:calc(0*(100%/10));
  left:calc(0*(100%/12));
}
#Z-1-Box {
  top:calc(1*(100%/10));
  left:calc(0*(100%/12));
}
#Z-2-Box {
  top:calc(2*(100%/10));
  left:calc(0*(100%/12));
}

#Z-3-Box {
  top:calc(3*(100%/10));
  left:calc(0*(100%/12));
}
#Z-4-Box {
  top:calc(4*(100%/10));
  left:calc(0*(100%/12));
}
#Z-5-Box {
  top:calc(5*(100%/10));
  left:calc(0*(100%/12));
}

#Z-6-Box {
  top:calc(6*(100%/10));
  left:calc(0*(100%/12));
}

#Z-7-Box {
  top:calc(7*(100%/10));
  left:calc(0*(100%/12));
}

#Z-8-Box {
  top:calc(8*(100%/10));
  left:calc(0*(100%/12));
}

#Z-9-Box {
  top:calc(9*(100%/10));
  left:calc(0*(100%/12));
}





#K-0-Box {
  top:calc(0*(100%/10));
  left:calc(11*(100%/12));
}
#K-1-Box {
  top:calc(1*(100%/10));
  left:calc(11*(100%/12));
}
#K-2-Box {
  top:calc(2*(100%/10));
  left:calc(11*(100%/12));
}

#K-3-Box {
  top:calc(3*(100%/10));
  left:calc(11*(100%/12));
}
#K-4-Box {
  top:calc(4*(100%/10));
  left:calc(11*(100%/12));
}
#K-5-Box {
  top:calc(5*(100%/10));
  left:calc(11*(100%/12));
}

#K-6-Box {
  top:calc(6*(100%/10));
  left:calc(11*(100%/12));
}

#K-7-Box {
  top:calc(7*(100%/10));
  left:calc(11*(100%/12));
}

#K-8-Box {
  top:calc(8*(100%/10));
  left:calc(11*(100%/12));
}

#K-9-Box {
  top:calc(9*(100%/10));
  left:calc(11*(100%/12));
}
