html {
    box-sizing: border-box;
}

@media all and (min-width: 500px) {
    #editor {
        position: absolute;
        top: 0%;
        right: 25%;
        bottom: 0%;
        left: 0%;
    }

    #SelectedActorSidebar {
        position: absolute;
        top: 0%;
        right: 0%;
        bottom: 0%;
        left: 75%;
        text-align: center;
        background-color: SlateGrey;
        font-family: "Noto Sans TC", "sans-serif";
    }

    .button1 {
        border: none;
        color: white;
        padding: 16px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        transition-duration: 0.4s;
        cursor: pointer;
        min-width: 1px;
        background-color: #008CBA;
    }

    .button1:focus {
        outline: 0;
    }

    .button1:active {
        border-bottom-color: #000000;
        color: black;
    }

    .button1:hover {
        background-color: #008CDA;
        color: white;
    }

    .button1:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: #000;
        visibility: hidden;
        transform: scaleX(0);
        transition: all 0.3s ease-in-out 0s;
    }

    .button1:hover:before {
        visibility: visible;
        transform: scaleX(1);
    }

    .button1:active:before {
        visibility: hidden;
        transform: scaleX(0);
        transition: all 0.1s ease-in-out 0s;
    }

    .button1:active {
        color: black;
        transition-duration: 0.0s;
    }

    .button1 {
        position: relative;
    }

    ::-webkit-scrollbar {
        width: 1em;
        background-color: SlateGrey
    }

    ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px rgb(85 98 121);
    }

    ::-webkit-scrollbar-thumb {
        background-color: #3c434d;
        outline: 1px solid #282d33;
    }
}

@media all and (max-width: 500px) {
    #editor {
        position: absolute;
        top: 0%;
        right: 25%;
        bottom: 0%;
        left: 0%;
    }

    #SelectedActorSidebar {
        position: absolute;
        top: 0%;
        right: 0%;
        bottom: 0%;
        left: 75%;
        text-align: center;
        background-color: SlateGrey;
        font-family: "Noto Sans TC", "sans-serif";
        word-wrap: break-word;
    }

    .button1 {
        border: none;
        color: white;
        padding-top: 16px;
        padding-bottom: 16px;
        padding-left: 25%;
        padding-right: 25%;
        text-align: center;
        width: 75%;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        transition-duration: 0.4s;
        cursor: pointer;
        background-color: #008CBA;
    }

    .button1:focus {
        outline: 0;
    }

    .button1:active {
        border-bottom-color: #000000;
        color: black;
    }

    .button1:hover {
        background-color: #008CDA;
        color: white;
    }

    .button1:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: #000;
        visibility: hidden;
        transform: scaleX(0);
        transition: all 0.3s ease-in-out 0s;
    }

    .button1:hover:before {
        visibility: visible;
        transform: scaleX(1);
    }

    .button1:active:before {
        visibility: hidden;
        transform: scaleX(0);
        transition: all 0.1s ease-in-out 0s;
    }

    .button1:active {
        color: black;
        transition-duration: 0.0s;
    }

    .button1 {
        position: relative;
    }
    ::-webkit-scrollbar {
        width: 1em;
        background-color: SlateGrey
    }

    ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px rgb(85 98 121);
    }

    ::-webkit-scrollbar-thumb {
        background-color: #3c434d;
        outline: 1px solid #282d33;
    }
}



@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');
*{
   margin: 0;
   padding: 0;
   outline: 0;
   font-family: 'Nunito',sans-serif;
}

img {
}
body{
   background-color: #3c434d;
}


.searchContainer{
   padding: 15px;
   border-radius: 5px;
   background-color: slategrey;
   width: 90%;
   position: absolute;
   left: 50%;
   top: 5%;
   transform: translate(-50%);
   text-align:center;
   box-shadow: 0 6px 8px rgba(0,0,0,.1);
   transition: all .4s;
   z-index: 1;
}
.searchContainer h1{
   text-transform: uppercase;
   margin-bottom: 15px;
   color: black;
}
.searchContainer input{
   padding: 10px 15px;
   margin-bottom: 15px;
   width: calc(100% - 30px);
   font-size: 18px;
}

.searchContainer ul {

}
.searchContainer ul li{
list-style-type: none;
padding-top: 15px;
background-color: #cfd8dc;
transition: .4s;
display: flex;
justify-content: space-between;
}
.searchContainer ul section{
   color: #3c3c3c;
   text-decoration: none;
}

section {
  background-color: slategrey; /* Green */
  border: none;
  color: #ffffff;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  transition-duration: 0.2s;
  display:block;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

section:hover {
  background-color: #4287f5; /* Blue */
  color: white;
}

section:active {
  transition-duration: 0.1s;
  background-color: #4257f5; /* Darker Blue */
}


image {
  vertical-align: baseline;
  margin: auto;
  width: 50%;
}


.visibleButton {
  /*height:100%;*/
  padding: 0px;
  height: 100px;
  margin: 0;
  text-align: center;
  font-size: 16px;
  flex-basis: calc(100% - 20px);
  justify-content: center;
  align-items: center;
}


.selectionButton {
  /*height:100%;*/
  padding: 0;
  height: 100px;
  margin: 0;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1px;
  flex-basis: calc(200% - 20px);
  word-break: break-all;
}

.li {
  height:100px;
  padding: 0%;
  text-align: center;
}

ul {
  padding: 0;
  width: 100%;
}

.buttonContainer {
  font-size: 0;
  display: flex;
}



.tablinks {
  display: inline-block;
}
