#sidebar {
  background-color: #0e0e10;
  color: #FFFFFF;
}
#viewport {
  background-color: #18188c;
}



.cardButton {
  color: #ffffff;
  background-color: #2b282f;
}

.cardButton:hover {
  color: white;
  background-color: #6735a0
}

.cardButtonsImg {
  filter: invert(1);
}


.generalSlider {
  background: #7289da;
}
.generalSlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: #6a34bd;
  background: #FFFFFF;
}
.generalSlider:hover {
  background: #3c4873;
}
.button {
  background-color: #1c1d21;
  color: white;
}

.button:hover {
  background-color: #3c4873;
}


.PromptOption {
  background: #008CBA;
}


.selectionList {
  /*background-color: black;*/
  background-color: #00000038;
}

.selectionListItem {
  color: white;
}


.selectionListItem:hover {
  background-color: #002836;
}
/*#Scale {
  background: url("/Assets/UI/Transform Mode Images/MapEditorScale.png");
}*/

/*#Scale {
  width:100;
  height: 25;
}*/
