#sidebar {
  position: relative;
  float: right;
  background-color: powderblue;
  height: 100%;
  width: 15%;
  text-align: center;
  font-family: "Noto Sans TC", "sans-serif";
  z-index: 2;

}
#sidebar h1 {
  font-weight: 100 !important;
}


#editor {
  float: left;
  height: 100%;
  width: 85%;
}
#viewport {
  position: relative;
  float: left;
  height: 100%;
  width: 85%;
  z-index: 1;
  display: block;
  background-color: red;
}


#transformMode {
  position: absolute;
  z-index: 10;
}
