#sidebar {
    position: relative;
    /*position: absolute;*/
    float: right;
    height: 100%;
    width: 15%;
    text-align: center;
    font-family: "Noto Sans TC", "sans-serif";
    z-index: 2;
    transition-duration: 1;
    
  }
  #sidebar h1 {
    font-weight: 100 !important;
  }


  #SelectedActorName {
    font-size: calc(10px + (16 - 10) * ((100vw - 300px) / (1600 - 300)));
  }
  
  
  body {
    margin: 0;
  }
  
  #editor {
    float: left;
    height: 100%;
    width: 85%;
  }
  #viewport {
    /**position: relative;**/
    position: absolute;
    float: left;
    height: 100%;
    /*width: 85%;*/
    width: 100%;
    z-index: 1;
    display: block;
    outline: none;
  }
  
  #sectionName {
    height: 18px;
    width: auto;
    margin: 5px;
    margin-top: 10px;
  }
  
  #transformMode {
    position: absolute;
    z-index: 10;
  }
  
  
  .transformButton {
    border: none;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 1px;
    transition-duration: 0.4s;
    cursor: pointer;
    min-width: 1px;
    height: 35;
    border-radius: 5px;
  }
  
  
  .transformButton:hover {
    height: auto;
  }
  
  .TransformModeImg {
    opacity: 0;
  }
  
  .transformButton:hover > .TransformModeImg {
    opacity: 100;
  }
  
.transformButton:focus {
    outline: 0;
}
  
  .cameraSlideContainer {
    width: 100%;
  }
  
  #cameraSlider {
    -webkit-appearance: none;
    appearance: none;
    width: 95%;
    height: 10px;
    outline: none;
    margin: 2px;
    margin-top: 10px;
    border-radius: 5px;
  }
  #cameraSlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    border-radius:  100%;
  }
  
  .button {
    border-style: none;
    border-radius: 10px;
    outline: 0;
    margin: 3px;
    /*width: 95%;*/
    /*height: 5%;*/
    padding: 5px;
  }
  
  .button:hover {
    font-weight: bold;
    cursor: pointer;
  }
  /*#Scale {
    background: url("/Assets/UI/Transform Mode Images/MapEditorScale.png");
  }*/
  
  /*#Scale {
    width:100;
    height: 25;
  }*/
  