#sidebar {
  background-color: powderblue;
}

#viewport {
  background-color: #000000;
}

.cardButton {
  color: white;
  background-color: #008CBA;
}

.cardButton:hover {
  background-color: #FFFFFF;
  color: #000000;
}

#cameraSlider {
  background: #008CBA;
}
#cameraSlider::-webkit-slider-thumb {
  background: #2628a3;
  background: #000000;
}
#cameraSlider:hover {
  background: #005773;
}

.selectedActorListItem {
  background-color: #008CBA;
}

.button {
  background-color: #008CBA;
  color: white;
}

.button:hover {
  background-color: #002836;
}





#selectedActorsList {
  /*background-color: black;*/
  background-color: #00000038;
}

.selectedActorListItem {
  color: white;
}


.selectedActorListItem:hover {
  background-color: #002836;
}
/*#Scale {
  background: url("/Assets/UI/Transform Mode Images/MapEditorScale.png");
}*/

/*#Scale {
  width:100;
  height: 25;
}*/

body::-webkit-scrollbar {
  width: 1em;
  background-color: powderblue
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgb(131 233 255 / 30%);
}

body::-webkit-scrollbar-thumb {
  background-color: #008CBA;
  outline: 1px solid #001921;
}
