#sidebar {
  background-color: powderblue;
}

#viewport {
  background-color: #000000;
}

.cardButton {
  color: white;
  background-color: #008CBA;
}

.cardButton:hover {
  background-color: #FFFFFF;
  color: #000000;
}

#cameraSlider {
  background: #008CBA;
}
#cameraSlider::-webkit-slider-thumb {
  background: #2628a3;
  background: #000000;
}
#cameraSlider:hover {
  background: #005773;
}

.button {
  background-color: #008CBA;
  color: white;
}

.button:hover {
  background-color: #002836;
}
/*#Scale {
  background: url("/Assets/UI/Transform Mode Images/MapEditorScale.png");
}*/

/*#Scale {
  width:100;
  height: 25;
}*/
