#editor {
  position: absolute;
  top: 0%;
  right: 25%;
  bottom: 0%;
  left: 0%;
}
#SelectedActorSidebar {
  position: absolute;
  top: 0%;
  right: 0%;
  bottom: 0%;
  left: 75%;
  text-align: center;
  background-color: SlateGrey;
  font-family: "Noto Sans TC", "sans-serif";
}

.button {
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}
.button:focus {
  outline: 0;
}

.button:active {
  border-bottom-color: #000000;
  color: black;
}

.button1 {
  border: none;
  color: white
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: #008CBA;
}

.button1:hover {
  background-color: #008CDA;
  color: white;
}


#abc:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}

#abc:hover:before {
  visibility: visible;
  transform: scaleX(1);
}

#abc:active:before {
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.1s ease-in-out 0s;
}
#abc:active {
  color: black;
  transition-duration: 0.0s;
}

#abc {
  position: relative;
}
